.mc-ds-container + .mc-ds-container {
  margin-block-start: var(--mc-spacing-largest);
  border-top: var(--mc-border);
}

.mc-ds-tile {
  height: 100px;
  aspect-ratio: 1 / 1;
  outline: var(--mc-border);
  outline-offset: var(--mc-spacing-smallest);
  position: relative;
  left: var(--mc-spacing-smallest);
}

.mc-ds-tile strong {
  font-family: var(--mc-font-secondary);
}

.mc-ds-container-demo {
  border: var(--mc-border);
}

.mc-ds-container-demo {
  margin-block-start: var(--mc-spacing-largest);
}

.mc-ds-font-container + .mc-ds-font-container,
.mc-ds-grid-container + .mc-ds-grid-container {
  border-top: var(--mc-border);
  padding-bottom: var(--mc-spacing);
}

.mc-ds-grid-container + .mc-ds-grid-container {
  margin-block-start: var(--mc-spacing-largest);
}

.mc-ds-grid-container .mc-grid > * {
  height: 100px;
  border: var(--mc-border);
  background-color: var(--mc-color-grey-lightest);
}
