.mc-container {
  max-width: var(--mc-width-content-area);
  margin-inline: auto;
}

.mc-container--small {
  max-width: var(--mc-width-small);
}

.mc-container--medium {
  max-width: var(--mc-width-medium);
}

.mc-container--large {
  max-width: var(--mc-width-large);
}

.mc-container--xlarge {
  max-width: var(--mc-width-xl);
}

.mc-container--100 {
  max-width: var(--mc-width-100);
}

.mc-container--left {
  margin-left: 0;
}

.mc-container--right {
  margin-right: 0;
}

.mc-container--padding-inline {
  padding-inline: var(--mc-spacing);
}